<div>
    <div class="container">
       
        <h1>{{viagem.destino}}</h1>
        <p>A viagem foi feita por: {{viagem.nome}} e aconteceu no dia {{viagem.dt_voo}}</p>
        <p>Pontos positivos: {{viagem.pt_positivos}}, pontos negativos: {{viagem.pt_negativos}}</p>
          <div class="action">
            <a href="/viagens/edit/{{viagem.id}}">Editar</a>

             <form action="/viagens/remove/{{viagem.id}}" method="post"> <input type="submit" value="Excluir">
             </form>
        </div>
    </div>
    
</div>
</div>